:root {
  /* Primary */
  --primary-1: #090b1a;
  --primary-2: #1b1938;
  --primary-3: #aa5cdb;
  /* Neutral */
  --neutral-1: rgba(255, 255, 255, 0.75);
  --neutral-2: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "inter", sans-serif;
  color: var(--neutral-2);
  background-color: var(--primary-1);
  line-height: 1.6;
}

ul {
  list-style: none;
}

.section-insights {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.insights-card {
  width: 88%;
  max-width: 100rem;
  background-color: var(--primary-2);
  border-radius: 1rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.insights-img {
  position: relative;
  background-image: url(../images/image-header-desktop.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  grid-column: 2;
}

.pink-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 15, 138, 0.65);
}

.insights-content {
  grid-row: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4.2rem;

  padding: 6.8rem;
}

.insights-header {
  color: #fff;
  line-height: 1.3;
  font-size: 3.4rem;
  margin-bottom: 1.6rem;
}

.accent-text {
  color: #aa5cdb;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stat {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
}

.stat-caption {
  display: block;
  color: var(--neutral-2);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 55em) {
  .insights-card {
    grid-template-columns: 1fr;
    max-width: 88%;
    text-align: center;
    min-width: 35rem;
  }

  .insights-img {
    background-image: url(../images/image-header-mobile.jpg);
    height: 26rem;
    grid-column: 1;
    grid-row: 1;
  }

  .insights-content {
    padding: 4.2rem;
    gap: 3.2rem;
    grid-row: 2;
  }

  .insights-header {
    font-size: 2.8rem;
  }

  .stats {
    flex-direction: column;
    gap: 2.8rem;
  }

  .stat {
    font-size: 2.4rem;
  }
}
